page-cadastro {

    ion-content {vertical-align: middle; height: 100%;}

    .TextCenter{text-align: center}

    .ImageCenter{margin: 10% auto; display: block}

    .Fundo{background-color:#39455C}

    .ColorTitle{color: #E6BA7A}

    .list-md .item-input:last-child{border-bottom: none}

    .list-md .item-block .item-inner{border-bottom: none}

    .item.item-input{width: 100%; border-radius: 5px; margin: 1%}

    .ThemeButton{background-color:#E6BA7A}

    .item-datetime{margin-left: auto}
    
}
