page-configuracao {

    .ImageCenter{margin: 10% auto; display: block; }

    .TextCenter{text-align: center;}

    .ImageCenter{margin: 10% auto; display: block}

    .ColorTitle{color: #E6BA7A}

    .item.item-input {width: 100%; margin: 1%; border-radius: 5px;}

    .list-md .item-input:last-child{border-bottom: none}

    .list-md .item-block .item-inner{border-bottom: none}

    .item-datetime{margin-left: auto}

    .item-md{background-color: #39455C}

    .ThemeButton{background-color:#E6BA7A}
}
