page-acervo {

    .content-md{background-color: #ADC2D9}

    .ImageCenter{margin: 10% auto; display: block; }

    .TextCenter{text-align: center; color: #ffffff}

    .ion-card img{margin: 5%; width:100% !important;}

    .Cor{color: #ffffff}

    .Like{color: #ffffff}

    .But{width: 100%; background-color: #18bc9c;color: #ffffff; border-radius: 5px;text-align: center; display: block}

    .Text{margin: 5%; margin-top: 10%; text-align: justify;}

    
}
