page-forum {

    
    .content-md{background-color: #48AD92}

    .ImageCenter{margin: 10% auto; display: block; }

    .TextCenter{text-align: center; color: #ffffff}

    .VideoTamanho{width: 90%; margin: 5%}

    .ion-card img{margin: 5%; width:100% !important;}

    .Cor{color: #ffffff}

    .Like{color: #ffffff}

    .But{border-radius: 20px}

}
