page-intro {

    background: #E6BA7A;

    ion-img{background-color: transparent}

    .ColorWhite{color: #ffffff}

    ion-slide{
        background-color: #39455C;
    }
    ion-slides{
        background-color: #E6BA7A;
    }

    .ThemeButton{background-color:#E6BA7A}
}
